<div id='header-top' ng-controller="MenuCtrl as menu">
	<ul>
		<li><a href="#" ng-bind="menu.user.email"></a></li>
		<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
		<li ng-click="menu.logout()">
			<a href="#">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</div>
<div id="sidebar">
	<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
	<ul>
		<li><a href="/home">Dashboard</a></li>
		<li class="selected"><a href="/products">Produtos</a></li>
		<li><a href="/categories">Categorias</a></li>
		<li><a href="/marketing">Marketing</a></li>
		<li><a href="/configs">Configurações</a></li>
	</ul>
</div>