<div ng-controller="ProductCtrl as newProduct">
	<div id='header-top'>
	<h2 class="page-title">Adicionar Produto</h2>
		<ul>
			<li><a href="#" ng-bind="newProduct.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li ng-click="newProduct.logout()">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home"><i class="mdi mdi-chart-bar"></i> Dashboard</a></li>
			<li class='dropdown selected'>
				<a href="#"><i class="mdi mdi-shopping"></i> Produtos</a>
				<ul class="dropdown-submenu opened">
					<li>
						<a href="/products">Ver todos</a>
					</li>
					<li>
						<a href="/products/new">Novo produto</a>
					</li>
				</ul>
			</li>
			<li><a href="/orders"><i class="mdi mdi-coin"></i> Pedidos</a></li>
			<li><a href="/categories"><i class="mdi mdi-view-list"></i> Categorias</a></li>
			<li><a href="/marketing"><i class="mdi mdi-sale"></i> Marketing</a></li>
			<li><a href="/settings"><i class="mdi mdi-settings"></i> Configurações</a></li>
		</ul>
	</div>
	
	<div id="all-container">
		<div class="card-container new-product-container">
			<div id="new-product-images">
				<div class="card-container">
					
				</div>
			</div>
			<div id="new-product-form">

				<form class="card-container" ng-submit="newProduct.save()">
					<div>
						<img src="images/loading.gif" alt="" class='loading-gif' ng-show="newProduct.inLoading">
						<p ng-class='{ alert_success : newProduct.messageError }'>
							{{ newProduct.messageError }}
						</p>
					</div>

					<div class="form-group" ng-class="{ error_input: newProduct.product_name_error }">
						<label>Nome:</label>
						<input type="text" name="product_name" placeholder="Nome do produto" ng-model="newProduct.product.name">
					</div>

					<div class="form-group half-col" ng-class="{ error_input: newProduct.product_code_error }">
						<label>Código:</label>
						<input type="text" name="product_code" placeholder="000000" ng-model="newProduct.product.code">
					</div>

					<div class="form-group half-col" ng-class="{ error_input: newProduct.product_price_error }">
						<label>Preço:</label>
						<input type="text" name="product_price"  placeholder="R$0.000,00" ng-model="newProduct.product.price" ui-number-mask>
					</div>

					<div class="form-group" ng-class="{ error_input: newProduct.product_stock_error }">
						<label>Estoque:</label>
						<input type="text" name="product_stock"  placeholder="0000" ng-model="newProduct.product.stock">
					</div>

					<div class="form-group" ng-class="{ error_input: newProduct.product_description_error }">
						<label>Descrição:</label>
						<textarea name="product_description" ng-model="newProduct.product.description"></textarea>
					</div>
					
					<div class="row-simple">
						<div class="form-group half-col">
							<label>Categorias</label>
						    <ui-select multiple ng-model="newProduct.product.categories" theme="bootstrap" close-on-select="false">
					    		<ui-select-match>{{ $item.name }}</ui-select-match>
					    		<ui-select-choices repeat="category in newProduct.allCategories | propsFilter: {name: $select.search, _id: $select.search} track by category._id">
							    	{{ category.name }}
							    </ui-select-choices>
						    </ui-select>
						</div>

						<div class="form-group half-col">
							<label>Tags</label>
					 		<ui-select multiple tagging tagging-label="false" ng-model="newProduct.product.tags" theme="bootstrap" sortable="true">
					    		<ui-select-match>{{$item}}</ui-select-match>
					    		<ui-select-choices repeat="tag in newProducts.product.tags | filter:$select.search">
							       {{ tag }}
							    </ui-select-choices>
					  		</ui-select>
						</div>
					</div>
					
					<div class="row-simple">
						<div class="form-group half-col">
							<label class="checkbox-helper" onselectstart="return false">
								<input type="checkbox" name="available_marketplace" ng-model="newProduct.product.available_marketplace">
								Disponível na MarketPlace (?)
							</label>
						</div>

						<div class="form-group half-col">
							<label class="checkbox-helper" onselectstart="return false">
								<input type="checkbox" name="active" ng-model="newProduct.product.active">
								Ativo
							</label>
						</div>
					</div>
					
					<div class="form-group text-left">
						<button type="submit">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>