<div ng-controller="ProductsCtrl as products">
	<div id='header-top'>
		<ul>
			<li><a href="#" ng-bind="products.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li ng-click="products.logout()">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home">Dashboard</a></li>
			<li class="selected"><a href="/products">Produtos</a></li>
			<li><a href="/categories">Categorias</a></li>
			<li><a href="/marketing">Marketing</a></li>
			<li><a href="/configs">Configurações</a></li>
		</ul>
	</div>
		
	<div id="all-container">
		<div id="filter-bar" class="card-container">
			<div class="filter-container">
				<label for="search-input">Buscar</label>
				<form ng-submit="products.searchProduct()">
					<input type="text" id="search-input" name="search-input" placeholder="Nome, código, tag..." ng-model="products.search_input">
					<button id="submit-search" type="submit">Buscar</button>
				</form>
			</div>
			<div class="grid-container">
				<span class="card-container selected-grid">
					<a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
				</span>
				<span class="card-container">
					<a href="#"><i class="fa fa-list" aria-hidden="true"></i></a>
				</span>
			</div>
		</div>
		<div id="products-grid-container">
			<p>
				0-20 de <span ng-model="products.count" ng-bind="products.count"></span> Produtos
			</p>
			<div class="product card-container" ng-repeat="product in products.products">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3 ng-bind="product.name"></h3>
				<br>
				<span><strong>Código:</strong> {{ product.code }}</span>
				<span><strong>Ativo:</strong> {{ product.active == true ? 'Sim' : 'Não' }}</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag" ng-repeat="tag in product.tags"> {{ tag }}</span>
				</p>
				<a href="/product/{{ product.url }}" class='btn-link card-container'>Ver Produto</a>
			</div>
		</div>
	</div>
</div>