<div ng-controller="ProductCtrl as singleProduct">
	<div id='header-top'>
	<h2 class="page-title">Produto</h2>
		<ul>
			<li><a href="#" ng-bind="singleProduct.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li ng-click="singleProduct.logout()">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home"><i class="mdi mdi-chart-bar"></i> Dashboard</a></li>
			<li><a href="/messages"><i class="mdi mdi-chat"></i> Mensagens</a></li>
			<li class='dropdown selected'>
				<a href="#"><i class="mdi mdi-shopping"></i> Produtos</a>
				<ul class="dropdown-submenu opened">
					<li>
						<a href="/products">Ver todos</a>
					</li>
					<li>
						<a href="/products/new">Novo produto</a>
					</li>
				</ul>
			</li>
			<li><a href="/orders"><i class="mdi mdi-coin"></i> Pedidos</a></li>
			<li><a href="/categories"><i class="mdi mdi-view-list"></i> Categorias</a></li>
			<li><a href="/banners"><i class="mdi mdi-view-list"></i> Banners</a></li>
			<li><a href="/marketing"><i class="mdi mdi-sale"></i> Marketing</a></li>
			<li><a href="/users"><i class="mdi mdi-users"></i> Usuários</a></li>
			<li><a href="/settings"><i class="mdi mdi-settings"></i> Configurações</a></li>
		</ul>
	</div>
	<div id="all-container">
		<div class="new-product-container">
			<div id="new-product-images">
				<div class="card-container">
					
					
				</div>
			</div>
			<div id="new-product-form">
				<form class="card-container" ng-submit="singleProduct.update()">
					<div>
						<img src="images/loading.gif" alt="" class='loading-gif' ng-show="singleProduct.inLoading">
						<p ng-class='{ alert_success : singleProduct.messageError }'>
							{{ singleProduct.messageError }}
						</p>
					</div>

					<div class="form-group" ng-class="{ error_input: singleProduct.product_name_error }">
						<label>Nome:</label>
						<input type="text" name="product_name" placeholder="Nome do produto" ng-model="singleProduct.product.name" ng-change="singleProduct.updateUrl( singleProduct.product.name )">
					</div>

					<div class="form-group half-col" ng-class="{ error_input: singleProduct.product_code_error }">
						<label>Código:</label>
						<input type="text" name="product_code" placeholder="000000" ng-model="singleProduct.product.code">
					</div>

					<div class="form-group half-col" ng-class="{ error_input: singleProduct.product_price_error }">
						<label>Preço:</label>
						<input type="text" name="product_price"  placeholder="R$0.000,00" ng-model="singleProduct.product.price" ui-number-mask>
					</div>

					<div class="form-group" ng-class="{ error_input: singleProduct.product_stock_error }">
						<label>Estoque:</label>
						<input type="text" name="product_stock"  placeholder="0000" ng-model="singleProduct.product.stock">
					</div>

					<div class="form-group" ng-class="{ error_input: singleProduct.product_description_error }">
						<label>Descrição:</label>
						<textarea name="product_description" ng-model="singleProduct.product.description"></textarea>
					</div>

					<div class="form-group">
						<label>Url:</label>
						<input type="text" name="product_url"  placeholder="Url do produto" ng-model="singleProduct.product.url" ng-change="singleProduct.validateUrl()">
					</div>

					<div class="row-simple">
						<div class="form-group half-col">
							<label>Categorias</label>
						</div>

						<div class="form-group half-col">
							<label>Tags</label>
						</div>
					</div>
					
					<div class="row-simple">
						<div class="form-group half-col">
							<label class="checkbox-helper" onselectstart="return false">
								<input type="checkbox" name="available_marketplace" ng-model="singleProduct.product.available_marketplace">
								Disponível na MarketPlace (?)
							</label>
						</div>

						<div class="form-group half-col">
							<label class="checkbox-helper" onselectstart="return false">
								<input type="checkbox" name="active" ng-model="singleProduct.product.active">
								Ativo
							</label>
						</div>
					</div>

					<div class="row-simple">
						<div class="form-group half-col">
							{{ singleProduct.product.progressPercentage }}
						    <div class="button" ngf-select ng-model="singleProduct.product.files" ngf-multiple="true" 
						    ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="5mb" ngf-min-height="100">Select</div>
						</div>
					</div>

					<div class="form-group text-left">
						<button type="submit">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
