<div ng-controller="OrdersCtrl as orders" class='text-center'>
	<div id='header-top'>
	<h2 class="page-title">Pedidos</h2>
		<ul>
			<li><a href="#" ng-bind="orders.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li ng-click="orders.logout()">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home"><i class="mdi mdi-chart-bar"></i> Dashboard</a></li>
<li><a href="/messages"><i class="mdi mdi-chat"></i> Mensagens</a></li>
			<li class='dropdown'>
				<a href="#"><i class="mdi mdi-shopping"></i> Produtos</a>
				<ul class="dropdown-submenu">
					<li>
						<a href="/products">Ver todos</a>
					</li>
					<li>
						<a href="/products/new">Novo produto</a>
					</li>
				</ul>
			</li>
			<li class="selected"><a href="/orders"><i class="mdi mdi-coin"></i> Pedidos</a></li>
			<li><a href="/categories"><i class="mdi mdi-view-list"></i> Categorias</a></li>
			<li><a href="/banners"><i class="mdi mdi-view-list"></i> Banners</a></li>
			<li><a href="/marketing"><i class="mdi mdi-sale"></i> Marketing</a></li>
<li><a href="/users"><i class="mdi mdi-users"></i> Usuários</a></li>
			<li><a href="/settings"><i class="mdi mdi-settings"></i> Configurações</a></li>
		</ul>
	</div>
	<div id="all-container">
		<div id="filter-bar" class="card-container">
			<div class="filter-container">
				<label for="search-input">Buscar</label>
				<form ng-submit="products.searchProduct()">
					<input type="text" id="search-input" name="search-input" placeholder="Nome, código, tag..." ng-model="products.search_input">
					<button id="submit-search" type="submit">Buscar</button>
				</form>
			</div>
			<!-- <div class="grid-container">
				<span class="card-container selected-grid">
					<a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
				</span>
				<span class="card-container">
					<a href="#"><i class="fa fa-list" aria-hidden="true"></i></a>
				</span>
			</div> -->
		</div>
		
		<div class="orders-grid-container">
			<p>
				Mostrando <span ng-model="orders.count" ng-bind="orders.count"></span> Pedidos
			</p>
			<div ng-repeat="order in orders.allOrders track by $index" class="card-container order-item" >
				<ul ng-switch on="order.status">
					<li>Usuario: {{ order.user.email }}</li>
					<li>Total: {{ order.total_value | realCurrency }}</li>
					<li ng-switch-when="0">Status: Cancelado</li>
			      	<li ng-switch-when="1">Status: Concluído</li>
			      	<li ng-switch-when="2">Status: Aguardando Pagamento</li>
				</ul>
				<span class='order-footer' ng-class="{ order_canceling: order.status == 0, order_waiting: order.status == 2, order_done: order.status == 1 }">
					{{ order.date | formatDate }}
				</span>
			</div>
		</div>
	</div>
</div>
