* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}
body {
  background-color: #F9F7FF;
}
#main {
  position: absolute;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  font-size: 16px;
  width: 100%;
  display: block;
  margin-bottom: 7px;
  color: #121212;
  text-align: left;
  font-weight: 300;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #CECECE;
  padding-left: 11px;
  font-size: 15px;
  outline: none;
}
.form-group .message-error {
  font-size: 15px;
  color: #464646;
  font-weight: 600;
}
.form-group.error_input label,
.form-group.error_input span {
  color: #F93636;
}
.form-group.error_input input[type="text"],
.form-group.error_input input[type="password"],
.form-group.error_input input[type="email"] {
  border: 2px solid #F93636;
}
.card-conteiner {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 1px 1px 4px 1.5px #C5C5C5;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
#header-top {
  width: 100%;
  height: 70px;
  background-color: #e7e7e7;
}
#header-top ul {
  float: right;
}
.form-login {
  margin-top: 160px;
  width: 360px;
  height: 370px;
  display: inline-block;
  padding: 35px 20px;
  position: relative;
}
.form-login .header h2 {
  font-size: 24px;
  display: -webkit-inline-box;
  padding: 0px 12px;
  z-index: 132;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 25px;
  color: #808080;
}
.form-login .header .line-after {
  content: "";
  width: 80%;
  height: 3px;
  background-color: #CECECE;
  position: absolute;
  left: 10%;
  z-index: 1;
  top: 48px;
}
.form-login button {
  background-color: #F38F48;
  height: 40px;
  border-radius: 3px;
  color: #ffffff;
  width: 170px;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid #F38F48;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 85px);
  bottom: 35px;
}
.form-login button:hover {
  background-color: #ffffff;
  color: #F38F48;
}
