<div ng-controller="BannerCtrl as banner" class='text-center'>
	<div id='header-top'>
	<h2 class="page-title">Banner</h2>
		<ul>
			<li><a href="#" ng-bind="banner.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li ng-click="banner.logout()">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home"><i class="mdi mdi-chart-bar"></i> Dashboard</a></li>
			<li><a href="/messages"><i class="mdi mdi-chat"></i> Mensagens</a></li>
			<li class='dropdown'>
				<a href="#"><i class="mdi mdi-shopping"></i> Produtos</a>
				<ul class="dropdown-submenu">
					<li>
						<a href="/products">Ver todos</a>
					</li>
					<li>
						<a href="/products/new">Novo produto</a>
					</li>
				</ul>
			</li>
			<li><a href="/orders"><i class="mdi mdi-coin"></i> Pedidos</a></li>
			<li><a href="/categories"><i class="mdi mdi-view-list"></i> Categorias</a></li>
			<li class="selected"><a href="/banners"><i class="mdi mdi-view-list"></i> Banners</a></li>
			<li><a href="/marketing"><i class="mdi mdi-sale"></i> Marketing</a></li>
			<li><a href="/users"><i class="mdi mdi-users"></i> Usuários</a></li>
			<li><a href="/settings"><i class="mdi mdi-settings"></i> Configurações</a></li>
		</ul>
	</div>
</div>
