<div ng-controller="CategoriesCtrl as categories" class='text-center'>
	<div id='header-top'>
		<h2 class="page-title">Categorias</h2>
		<ul>
			<li><a href="#" ng-bind="categories.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
			<li ng-click="categories.logout()">
				<a href="#">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home"><i class="mdi mdi-chart-bar"></i> Dashboard</a></li>
			<li class='dropdown'>
				<a href="#"><i class="mdi mdi-shopping"></i> Produtos</a>
				<ul class="dropdown-submenu">
					<li>
						<a href="/products">Ver todos</a>
					</li>
					<li>
						<a href="/products/new">Novo produto</a>
					</li>
				</ul>
			</li>
			<li><a href="/orders"><i class="mdi mdi-coin"></i> Pedidos</a></li>
			<li class="selected"><a href="/categories"><i class="mdi mdi-view-list"></i> Categorias</a></li>
			<li><a href="/marketing"><i class="mdi mdi-sale"></i> Marketing</a></li>
			<li><a href="/settings"><i class="mdi mdi-settings"></i> Configurações</a></li>
		</ul>
	</div>
	<div id="all-container">
		<div class="card-container" id="sidebar-category">
			<div class="form-group">
				<label for="">Nova Categoria</label>
				<input type="text" name="new_cat_name" ng-model="categories.category.name" placeholder="Nome da Categoria">
			</div>
			<div class="form-group">
				<label>Sub-categorias</label>
			    <ui-select multiple ng-model="categories.category.sub_cats" theme="bootstrap" close-on-select="false" sortable="true">
		    		<ui-select-match placeholder="Categorias">{{ $item.name }}</ui-select-match>
		    		<ui-select-choices repeat="category in categories.allCategories | propsFilter: { name: $select.search } track by category._id">
				    	{{ category.name | highlight: $select.search }}
				    </ui-select-choices>
			    </ui-select>
			    <a href="#" class="btn-link-default new-category" ng-click="categories.saveCategory()">Adicionar Categoria</a>
			</div>
			<div class="form-group">
				<p ng-bind="categories.messageAdd"></p>
			</div>
		</div>
		<div id="categories-grid-container">
			<div class="category card-container" ng-repeat="category in categories.allCategories">
				<div ng-show="category.visible" class="form-group" ng-init="category.visible = false">
					<input type="text" name="new_name" ng-value="category.name" ng-model="category.name">
				</div>
				<p ng-hide="category.visible" ng-bind="category.name"></p>
				<p ng-hide="category.visible" class="tag-cloud card-container">
					<span ng-repeat="sub_c in category.sub_cats" class='tag'>
						{{ sub_c.name }}
					</span>
				</p>
				<!-- <div class="form-group sub-cats-select" ng-show="category.visible">
					<label>Sub-categorias</label>
				    <ui-select multiple ng-model="category.sub_cats" theme="bootstrap" close-on-select="false" sortable="true"">
			    		<ui-select-match placeholder="Categorias">{{ $item.name }}</ui-select-match>
			    		<ui-select-choices repeat="sub_cat in categories.allCategories | propsFilter: { name: $select.search } track by sub_cat._id">
					    	{{ sub_cat.name | highlight: $select.search }}
					    </ui-select-choices>
				    </ui-select>
			    </div> -->
				<a href="#" class="btn-link-default edit-category" ng-click="categories.edit( category._id )" ng-init="category.btnStatus = 'Editar'">
				{{ category.btnStatus }}
				</a>
			</div>
		</div>
	</div>
</div>
