	<script src="plugins/jquery.min.js" type="text/javascript"></script>
	<script src="plugins/angular.min.js" type="text/javascript"></script>
	<script src="plugins/angular-route.min.js" type="text/javascript"></script>
	<script src="plugins/angular-cookies.min.js" type="text/javascript"></script>
	<script src="plugins/angular-sanitize.min.js" type="text/javascript"></script>
	<script src="plugins/angular-input-masks-standalone.min.js" type="text/javascript"></script>
	<script src="js/app.min.js" type="text/javascript"></script>
	<script src="https://use.fontawesome.com/4df84b9539.js"></script>

</body>
</html>