<!DOCTYPE html>
<html ng-app="newCommerce">
<head>

	<base href="/">


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="$root.title + ' | NewCommerce'"></title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,300italic,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="css/styles.min.css" type="text/css">
	
</head>
<body>
	<div ng-view>
	
	</div>
