<div ng-controller="ProductsCtrl as products">
	<div id='header-top'>
		<ul>
			<li><a href="#" ng-bind="products.user.email"></a></li>
			<li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div id="sidebar">
		<img src="https://pbs.twimg.com/profile_images/679444217203044353/UUFdHjia.jpg" alt="">
		<ul>
			<li><a href="/home">Dashboard</a></li>
			<li class="selected"><a href="/products">Produtos</a></li>
			<li><a href="/categories">Categorias</a></li>
			<li><a href="/marketing">Marketing</a></li>
			<li><a href="/configs">Configurações</a></li>
		</ul>
	</div>
	<div id="all-container">
		<div id="filter-bar" class="card-container">
			<div class="filter-container">
				<label for="search-input">Buscar</label>
				<input type="text" id="search-input" name="search-input" placeholder="Nome, código, tag...">
			</div>
			<div class="grid-container">
				<span class="card-container selected-grid">
					<a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
				</span>
				<span class="card-container">
					<a href="#"><i class="fa fa-list" aria-hidden="true"></i></a>
				</span>
			</div>
		</div>
		<div id="products-grid-container">
			<p>
				0-20 de 456 Produtos
			</p>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
					<span class="tag">Tropical</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
			<div class="product card-container">
				<div class="image-mask card-container">
					<img src="http://stockfresh.com/thumbs/cteconsulting/474101_camisa-bolso-roupa-linha-arte-preto.jpg" alt="">
				</div>
				<h3>Camisa de Bolso</h3>
				<span><strong>Código:</strong> 55012</span>
				<span><strong>Preço:</strong> R$ 35,00</span>
				<span><strong>Estoque:</strong> 10</span>
				<p class="tag-cloud card-container">
					<small>Tags:</small>
					<span class="tag">Camisa</span>
					<span class="tag">Bolso</span>
					<span class="tag">Estampado</span>
					<span class="tag">Abacaxi</span>
					<span class="tag">Tropical</span>
				</p>
				<a href="/product/123" class='btn-link card-container'>Ver Produto</a>
			</div>
		</div>
	</div>
</div>