@light_blue: #F9F7FF;
@red_error: #F93636;
@feature_color: #F38F48;
@feature_font_color: #FFFFFF;
@border_gray: #CECECE;
@sidebar_color: #424242;
@font_sidebar: #DEDEDE;
@tag_color:#9D92C5;


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}


*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline:none;
}
a{
	text-decoration: none;
}
input{
	border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 0px 10px;
}
body{
    background-color: @light_blue !important;
    overflow-x:hidden !important;
}
#main{
    position:absolute;
    min-height:100%;
    width:100%;
    overflow-y: auto;
}

.form-group{
	margin-bottom: 15px;
	padding:5px;

	label{
	    font-size: 16px;
	    width: 100%;
	    display: block;
	    margin-bottom: 7px;
	    color: #121212;
	    text-align: left;
	    font-weight: 300;
	}
	.checkbox-helper{
	    cursor: pointer;
	    vertical-align: bottom;

	    input[type="checkbox"]{
	    	margin-right:10px;
	    }
	}

	input[type="text"], input[type="password"], input[type="email"], .ui-select-multiple.ui-select-bootstrap{
		width: 100%;
	    height: 35px;
	    border-radius: 4px;
	    border: 2px solid @border_gray;
	    padding-left: 10px;
	    font-size: 15px;
	    outline: none;
	}

	.ui-select-multiple.ui-select-bootstrap{
		height:auto;
	    min-height: 60px !important;
        display: inline-block;
	}

	textarea{
		width: 100%;
		max-width:100%;
	    height: 120px;
	    border-radius: 4px;
	    border: 2px solid @border_gray;
	    padding-left: 10px;
	    padding-top:5px;
	    font-size: 15px;
	    outline: none;
	}
	.message-error{
	    font-size: 15px;
	    color: #464646;
	    font-weight: 600;
	}

	.ui-select-multiple.ui-select-bootstrap .ui-select-match-item{
		background-color: @feature_color;
		color:@feature_font_color;
		border: 1px solid #868686;
	    border-radius: 2px;
	}
	.ui-select-bootstrap .ui-select-choices-row {
		text-align: left;

		&.active>a{
			background-color: @feature_color;
			color:@feature_font_color;
		}
	}

	.ui-select-search,
	.ui-select-match{
	    float: left;
	    text-align: left;
	}


	&.half-col{
		width:50%;
		padding:5px;
		float:left;
	}

	button{
		background-color: @feature_color;
		height:40px;
		border-radius:3px;
		color: @feature_font_color;
		width: 170px;
	    font-size: 16px;
	    margin-top: 10px;
	    border: 2px solid @feature_color;
	    cursor: pointer;

	    &:hover,
	    &:focus,
	    &:active{
			background-color:@feature_font_color;
			color:@feature_color;
		}
	}



}

.form-group.error_input{
	label, span{
		color:@red_error;
	}
	input[type="text"], input[type="password"], input[type="email"], textarea{
	    border: 2px solid @red_error;
	}
}

img.loading-gif{
	width:30px;
	height:30px;
}

.alert_success{
    background-color: #fafad2;
    padding: 10px 30px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    color: #121212;
}

.card-container{
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 1px #C5C5C5;
}
.row-simple{
	display: inline-block;
    width: 100%;
}
.row-container{
    padding: 25px 23px;
    display: inline-block;
    width: 100%;
}

.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.hide{
	display:none;
	opacity:0;
}
.show{
	display:initial;
	opacity:1;
}

.start-hidden{
	display: none;
}

@keyframes start-hidden{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.5;
	}
	100%{
		opacity: 1;
	}
}

.show-animation{
	display: inherit;
	animation: start-hidden 0.7s;
    width: 100%;
}

.main-title{
    font-size: 19px;
    color: @feature_color;
    font-weight: 4	00;
    text-transform: uppercase;
    margin: 5px;
}


a.btn-link-default{
    border: 2px solid #F38F48;
    background-color: #F38F48;
    border-radius: 2px;
    padding: 10px 15px;
    color: #ffffff;
    display: block;
    text-align: center;

	&:hover,
	&:active,
	&:focus{
		text-decoration: none;
		color: @feature_color;
		background-color: @feature_font_color !important;
	}
}


table td.text-center a.btn-link-default{
	margin: 0 auto;
    max-width: 150px;
}

.form-login{
	margin-top: 160px;
    width: 360px;
    height: 370px;
    display: inline-block;
    padding: 35px 20px;
    position:relative;
    text-align: center;

    .header{

    	h2{
			font-size: 24px;
		    display: -webkit-inline-box;
		    padding: 0px 12px;
		    z-index: 132;
		    position: relative;
		    background-color: #ffffff;
		    margin-bottom: 25px;
		    color: #808080;
	        margin: 0px;
    	}

	    .line-after{
	    	content: "";
		    width: 80%;
		    height: 3px;
		    background-color: @border_gray;
		    position: absolute;
		    left: 10%;
		    z-index: 1;
		    top: 48px;
	    }

    }


    button{
		background-color: @feature_color;
		height:40px;
		border-radius:3px;
		color: @feature_font_color;
		width: 170px;
	    font-size: 16px;
	    margin-top: 20px;
	    border: 2px solid @feature_color;
	    cursor: pointer;
	    position: absolute;
	    left: ~"calc(50% - 85px)";
	    bottom: 35px;

	    &:hover,
	    &:focus,
	    &:active{
			background-color:@feature_font_color;
			color:@feature_color;
		}

	}


}


#header-top{
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    padding: 20px 15px;
    z-index: 1000;
    position: relative;
    right: 0px;
    top: 0px;
    box-shadow: 1px 1px 2px 1px #C5C5C5;
    min-width: 990px !Important;
	
	h2{
		float: left;
	    margin: 0px 0px 0px 240px;
	    font-size: 26px;
	    font-weight: 300;
	    color:@feature_color;
	}
	ul{
		list-style: none;
		float: right;


		li{
			float:left;
			margin-left:15px;

			a{
				color:@feature_color;
			}
		}
	}

}

#sidebar{
    width: 220px;
    text-align: center;
    min-height:100%;
    background-color: #424242;
    color: #ffffff;
    position: fixed;
	left:0px;
    top:0px;
    z-index: 1000;
    padding-top: 50px;

    img{
    	width:70%;
    }

    i{
	    font-size: 20px;
    	margin-right: 8px;
    }

	ul{
	    line-height: 35px;
	    margin-top: 15px;

	    li{
	    	cursor: pointer;
    	    border-bottom: 1px solid #585858;
	        position: relative;


    	    &.selected::after{
	    	    content: "";
			    display: inline-block;
			    vertical-align: middle;
			    right: 0px;
			    width: 0;
			    height: 0;
			    border-top: 12px solid transparent;
			    border-bottom: 12px solid transparent;
			    border-right: 12px solid @light_blue;
			    position: absolute;
			    top: 3.5px;
    	    }
    	    a{
			    text-decoration: none;
			    color: inherit;
			    font-size: 15px;
			    font-weight: 300;
			    display: block;
			    text-align: left;
			    padding-left: 15px;

			    &:hover,
	    	    &:active,
	    	    &:focus{

					background-color: @font_sidebar;
	    			color: @sidebar_color;
	   
	    	    }

    	    }

	    }

	}


	ul.dropdown-submenu{
        background-color: #383838;
	    padding-top: 15px;
	    padding-bottom: 15px;
        margin-top: 0px;
       	display: none;

       	&.opened{
       		display: block;
       	}

		li{
			border-bottom: none;
			border-top: 1px solid #585858;

			&:first-child{
				border-top: none;
			}

			a{
				font-size:12px;
				text-align: center;
				padding-left: 0px;
			}
		}
	}

}


#all-container{
	width:~"calc(100% - 220px)";
    padding: 20px;
    margin-left: 220px;
    min-width: 890px;


	#filter-bar{
	    padding: 10px;
	    height: 60px;

		.filter-container{
		    display: -webkit-inline-box;
		    line-height: 26px;
		    padding-left: 30px;
		    float: left;

			form{
			    display: inline;

			    button{
			    	background-color: @feature_color;
			    	color:@feature_font_color;
		    	    height: 40px;
			    	border:2px solid @feature_color;
			    	padding:3px 5px;
			    	cursor:pointer;
			    	border-radius:2px;
					
					&:hover,
				    &:active,
				    &:focus{
				    	background-color: @feature_font_color;
				    	color:@feature_color;
				    }

			    }
			}

			label{
			    line-height: 40px;
			    display: inherit;
			    margin-right: 10px;
			}


			#search-input{
			    width: 200px;
    			height: 40px;
    			border: 2px solid @border_gray;
			}
		}

		.grid-container{
			float: right;
		    display: inline-block;
		    margin-top: 5px;
			
			.selected-grid{
				background-color: @feature_color;
				color:@feature_font_color;

				a{
					color:#ffffff !important;
				}
			}
	    	span{
    		    font-size: 20px;
    			padding: 2px 5px;
    			display: -webkit-inline-box;
    			cursor: pointer;
			    margin-left: 5px;

    			a{
    				color: @feature_color;
    			}
	    	}
		}
	}
	#products-grid-container{
	    padding: 15px 0px;
	    display: inline-block;
        width: 100%;

    	p{
		    padding: 0px 10px 10px 10px;
    		font-weight: 300;
    	}

	    .product{
	    	width: 260px;
		    float: left;
		    padding: 18px 12px;
		    text-align: center;
		    margin-right: 20px;
    		margin-bottom: 20px;

		    .image-mask{
	    	    width: 200px;
			    max-height: 180px;
			    overflow: hidden;
			    padding: 15px;
			    margin-top: 15px;
			    height: auto;
			    margin-left: 20px;

		    	img{
		    		width:100%;
		    	}
		    }

		    h3{
	    	    font-size: 22px;
			    font-weight: 200;
			    margin-top: 15px;
			    min-height: 50px;
		    }

		    span{
		    	display: inline-block;
		    	width:100%;
		    	line-height:22px;
	    	    font-weight: 300;
		    }

		    .btn-link{
		    	margin-top: 20px;
		    }

	    }

	}

	.tag-cloud{
	    height: 70px;
	    margin-top: 10px;
	    line-height: 27px;
	    padding-top: 5px;
	    overflow: auto;
	    text-align: left;
        padding-top: 5px !important;

    	.tag{
    		box-shadow: 1px 1px 4px 1px @tag_color;
		    border-radius: 9px;
		    display: inline;
		    font-size: 14px;
		    padding: 3px 5px;
		    color: #444444;
		    cursor: pointer;
	        margin-left: 6px;
            width: inherit !important;
            margin-bottom: 5px;

		    &:hover,
		    &:active,
		    &:focus{
		    	background-color: @tag_color;
		    	color:#ffffff;
		    }
    	}
    }

	#sidebar-category{
		width:30%;
		padding:40px 30px;
		float:left;

	    .new-category{
	    	margin-top:10px;
	    }
	}

	#categories-grid-container{
		width: 70%;
		float:left;

		.category{
		    float: left;
		    width: 220px;
		    padding: 20px;
		    margin-left:15px;
		    margin-bottom: 15px;

		}

		// .sub-cats-select .ui-select-search{
		// 	width:100% !important;
		// 	height: auto !important;
		// }
		
		// .sub-cats-select .ui-select-multiple.ui-select-bootstrap{
		// 	display: inline-table;
		// }
	}
}


.new-product-container{
	height:auto;
    display: flex;

	#new-product-images{
		width:30%;
	}

	#new-product-form{
		width:70%;

		form{
			padding:15px;
			display: inline-block;
		    width: 100%;
		}
		
	}

	#new-product-images, #new-product-form{
		float:left;
		display: inline-block;
		padding:15px;
	}

}

.orders-grid-container{
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-top: 25px;

	.order-item{
	    float: left;
	    width: 250px;
	    margin-left: 15px;
	    margin-bottom:50px;
	
	    ul{
			padding:10px 15px;
	    	list-style: none;
	    	margin:0px;
	    }

		.order-footer{
		    font-size: 12px;
		    color: #5f5f5f;
		    font-style: italic;
		    font-weight: 600;
		    display: inline-block;
		    width: 100%;
		    text-align: right;
		    padding-right: 10px;
		    height: 25px;
		    line-height: 25px;
		    vertical-align: middle;
		}	

		.order_canceling{
		    background-color: #d46a6a;
		    color: #ffffff;
		}

		.order_waiting{
			background-color:#dcdc42;
			color:#5f5f5f;
		}

		.order_done{
			background-color:#459c45;
			color:#ffffff;
		}


	}
}




